
#navbarNav {
    justify-content: flex-end;
}

#navbarNav a  {
    padding-right: 30px;
}

.hero {
    background: url(img/jason-blackeye-295313-unsplash.jpg);
    background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #c1c1c1;
}

/* video */

.video {
    padding: 12em 0;
}

/* info section */

.info {
    padding-top: 6em;
    padding-bottom: 6em;
}

.info-box {
    border: 1px solid gray;
    border-radius: 5px;
    max-width: 315px;
    padding: 2em;
    margin: auto;
}

.subscripton {
    border-top: 1px solid #c1c1c1;
    padding-top: 5.5em;
}

.subscripton > h4 {
    text-align: center;
    padding-bottom: 2em;
}


.sub-box {
    border: 1px solid gray;
    border-radius: 5px;
    margin: auto;
    padding: 3em;
    max-width: 315px;
}

.subscribe {
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 8em;
    margin-bottom: 4em;
}

.subscribe > h4 {
    padding-top: 2em;
    text-align: center;
}

.subscribe p {
    text-align: center;
}

#emailHelp {
    text-align: center;
}

.subscribe .button {
    display: block;
    margin: auto;
    margin-top: 0.75em;
}

.sub-button {
    display: block;
    margin: auto;
}

/* footer */

footer {
    background-color: #c1c1c1;
    padding: 1em 0;
}

footer a {
    padding-right: 10px;
}


/* Media queries */

@media (max-width: 992px) {
    .box {
        margin-bottom: 2em;
    }
}



