.hero {
    background: url(/img/jason-blackeye-295313-unsplash.jpg);
    background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid gray;
}

#video {
    padding: 12em 0;
    
}

iframe {
    box-shadow: 10px 10px 20px rgb(94, 94, 94);
}

.info {
    margin-top: 8em;
}